@media only screen and (orientation: portrait) and (min-width: 500px) {
    
    .item{
        margin-bottom: 25px;
    }
    .setup{
        padding-top: 25px;
    }
    .item img{
        padding-left: 25px;
    }
}
@media only screen and (orientation: portrait) and (min-width: 838px) {
    #container-logo {
        padding-top: 10%;
    }
    .title-setup{
        font-size: 1em;
    }
    .screen-title h1{
        font-size: 2em;
    }
    .screen-title{
        padding-bottom: 70px;
    }
    .container-screen{
        padding-top: 70px;
    }
    #whatiptv-container-screen{
        padding-top: 70px;
    }
    .container-devices{
        padding-bottom: 70px;
    }
    #subcontent{
        padding-bottom: 70px;
    }
    #subcontent p{
        font-size: 1.5em;
    }
    #subcontent{
        max-width: 500px;
    }

}

@media only screen and (orientation: landscape) and (min-height: 320px) {
    
    #container-logo{
        padding-top: 7%;
        width: 100%;
    }
    .buttont {
        max-width: 700px;
        font-size: 1.7em;
    }
    #container-more{
        display: none;
    }

}

@media only screen and (orientation: landscape) and (min-width: 420px) {
    #subcontent{
        max-width: 440px;
    }
    .imgs-carousel img{
        max-width: 180px;
    }
    #imgc-1{
        margin-left: 0px;
    }
    #imgc-2{
        margin-left: calc(25px + (180px*1));
    }
    #imgc-3{
        margin-left: calc((25px*2) + (180px*2));
    }
    #imgc-4{
        margin-left: calc((25px*3) + (180px*3));
    }
    #imgc-5{
        margin-left: calc((25px*4) + (180px*4));
    }
    #imgc-6{
        margin-left: calc((25px*5) + (180px*5));
    }
    #imgc-7{
        margin-left: calc((25px*6) + (180px*6));
    }
    #imgc-8{
        margin-left: calc((25px*7) + (180px*7));
    }
    #imgc-9{
        margin-left: calc((25px*8) + (180px*8));
    }

}

@media only screen and (orientation: landscape) and (min-height: 443px) {
    
    #container-logo{
        padding-top: 5%;
        width: 100%;
    }

    #container-more{
        display: block;
    }

}
@media only screen and (orientation: landscape) and (min-height: 602px) {
    #container-logo{
        padding-top: 7%;
        width: 100%;
    }

}
@media only screen and (orientation: landscape) and (min-width: 700px) {

    .item{
        margin-bottom: 35px;
    }
    .setup{
        padding-top: 35px;
    }
    .item img{
        padding-left: 35px;
    }
    #plans .container-screen{
        max-width: 760px;
    }
}
@media only screen and (orientation: landscape) and (min-width: 752px) {

    #primary{
        margin-right: 9%;
    }
    .card .content-card{
        font-size: 1.3em;
    }
    .text-content{
        font-size: 1.4em;
    }
}




/*
@media only screen and (orientation: landscape) and (min-height: 466px) {
    #container-logo{
        padding-top: 20%;
        width: 20%;
    }
}

@media only screen and (orientation: landscape) and (min-width: 727px) {
    #container-logo{
        padding-top: 10%;
        width: 25%;
    }
}
*/
